/* =============
    Section-1
============= */
#section-1{
    margin-top: 300px;
    width: 100%;
    position: relative;
    z-index: 10;

    .hello{
    display: grid;
    grid-template-rows: "hello
                        im";
    
        >h1{
            grid-area: hello;
            width: 500px;
            padding: 10px;
            color: #F7743C;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            font-size: 10vw;
        }

        >p{
            grid-area: im;
            display: flex;
            width: 700px;
            padding: 10px;
            padding-top: 13vw;
            color: black;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 300;
            font-size: 3vw;
        }
    }

}