/* =============
    Section-3
============= */
#section-3{
    margin-top: 3vw;
    margin-bottom: 4vw;
    margin: auto;
    position: relative;
    background-color: #F7743C;
    width: 80%;
    padding: 1vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    display: grid;
    grid-template-areas: "img text";
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-content: center;

    >.contact{
        grid-area: text;
        margin-left: 50%;
        align-self: center;

        >h1{
            display: flex;
            padding: 10px;
            color: white;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            font-size: 5vw;
        }

        >p{
            display: flex;
            padding: 10px;
            padding-top: 30px;
            color: white;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 300;
            font-size: 2vw;
        }

        >h3{
            display: flex;
            padding: 10px;
            padding-top: 30px;
            color: white;
            font-family: 'Oswald', sans-serif;
            font-weight: 300;
            font-size: 1.7vw;
        }
    }

    >.imgcontainer{
        grid-area: img;
        display: flex;
        img{
            display: flex;
            width: 40vw;
            height: 40vw;
            align-self: flex-start;
            border-radius: 30px;
        }
    }

}